@media only screen and (min-width: 300px) {
    .header div  {
        width: 100%;
    }
}    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

/* header */

.header {
    background-color: white;
    padding-bottom: 70px;
    padding-top: 10px;
    border-bottom: 1px solid lightgrey;   
}

.drt {
    font-weight: 5px;
    color: lightgrey;
}

.r {
    border: none;
    background-color: #f1f1f1;
}

.irys {
    font-family: 'Bungee Hairline', cursive;
    text-align: center;
    letter-spacing: 10px;
    float: left;
    margin-left: 0px;
    color: white;
    background-color: black;
    padding: 5px 25px 50px 20px;
    margin-top: -10px;
    margin-right: 35px;
    width: 189.5px;
    border-top-left-radius: 10px;
}

.search {
    margin: 10px;
    margin-left: 0px;
    padding: 10px;
    font-size: px;
    border: 1px solid lightgrey;
    float: left;
    width: 400px;
    background: #f1f1f1;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
}   

.srch {
    overflow: auto;
    margin-top: 10px;
    float: left;
    width: 30px;
    padding: 8px;
    background: #f1f1f1;
    color: rgb(129, 129, 129);
    font-size: 17px;
    border: 1px solid lightgrey;
    border-right: none;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#btn {
    display: inline;
    float: right;
    padding: 10px;
    padding-top: 5px;
    margin-right: 10px;
    margin-top: 5px;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: 0.5px solid lightgrey;
}

.header button:hover {
    background: #9cc9ee;
}

.ntf {
    float: right;
    display: inline;
    float: right;
    padding: 10px;
    padding-right: 21px;
    padding-top: 7px;
    margin-right: 10px;
    margin-top: 11px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 0.5px solid lightgrey;
}

.msg {
    float: right;
    display: inline;
    float: right;
    padding: 5px;
    padding-right: 6px;
    padding-top: 7px;
    margin-right: 10px;
    margin-top: 11px;
    width: 32px;
    height: 30px;
    border-radius: 20px;
    border: 0.5px solid lightgrey;
}

/* side nav */

.row {
    width: 190px;
    border: 1px solid lightgrey;
    padding: 20px 10px 10px 10px;
    height: 790px;
    background-color: black;
    position: relative;
    bottom: 40px;
    border-left: none;
}

.side a {
    display: block;
    text-decoration: none;
    text-align: left;
    color: white;
    width: 178px;
    padding: 5px 10px;
    margin-bottom: 10px;
    word-spacing: 20px;
}

.sidea {
    color: grey;
    font-size: 14px;
}

.side a:hover {
    background-color: lightgrey;
    border-radius: 5px;
}    

.logout {
    margin-top: 235px;
}

/* navigation bar */
.nav {
    margin-left: 350px;
    background-color: #f1f1f1;
    width: 960px;
}

.nav a {
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    
}

.navw {
    color: lightgrey;
    word-spacing: 15px;
}

#analytics {
    color: black;
    word-spacing: none;
}

.navh {
    padding-left: 10px;
    padding-top: 20px;
}

/* Main */

.main {
    position: relative;
    bottom: 760px;
    margin-left: 360px;
    width: 960px;
    border-top: 1px solid lightgrey;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-bottom: -580px;
}

.grid-container {
    height: 600px;
    display: grid;
    align-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    background-color:;
    margin-bottom: -180px;
}
.grid-container > div {
    background-color: red;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

.main-header button {
    position: relative;
    bottom: 37px;
    background-color: black;
    display: inline-block;
    color: white;
    padding: 7px;
    border-radius: 5px;
}

.main-header button > a {
    text-decoration: none;
    color: lightgrey;
}

.main h4 {
    position: relative;
    bottom: 17px;
    font-weight: 520;
}